# << Preparing Data >>

# Import PCD data

In [178]:
import pandas as pd

In [179]:
dataframe = pd.read_csv("../Data/PCD data after 2020-7.csv")

In [180]:
dataframe.head()

,id,stationID,nameTH,nameEN,stationType,lat,long,date_aq,time_aq,PM25,PM10,NO2,SO2,CO,O3,AQI,areaTH,areaEN,datetime_aq
0,515454,76t,ศูนย์การศึกษานอกโรงเรียน,"Non-Formal Education Centre, Mea Sot",GROUND,16.750102,98.591312,2020-07-20,21:00:00,8.0,22.0,4.0,NaN,0.13,13.0,1,"ต.แม่ปะ อ.แม่สอด, ตาก","MaePa, MaeSot, Tak",2020-07-20 21:00:00.000
1,515455,81t,อ่างเก็บน้ำประปา,Water reservoir,GROUND,13.832076,100.057961,2020-07-20,21:00:00,10.0,24.0,9.0,1.0,0.58,27.0,1,"ต.นครปฐม อ.เมือง, นครปฐม","Mueang, Nakhon Pathom",2020-07-20 21:00:00.000
2,515456,47t,สถานีสูบน้ำประตูพลแสน,Municipal Waste Water Pumping Station,GROUND,14.979726,102.098301,2020-07-20,21:00:00,17.0,35.0,12.0,0.0,0.61,7.0,1,"ต.ในเมือง อ.เมือง, นครราชสีมา","Nai Mueang, Mueang, Nakhon Ratchasima",2020-07-20 21:00:00.000
3,515457,m3,สำนักงานพระพุทธศาสนา จังหวัดนครศรีธรรมราช,Office Of Buddhism Nakhon Si Thammarat,MOBILE,8.427328,99.963666,2020-07-20,20:00:00,10.0,24.0,NaN,NaN,NaN,NaN,1,"ต.ในเมือง อ.เมือง, นครศรีธรรมราช","Mueang, Nakhon Si Thammarat",2020-07-20 20:00:00.000
4,515458,o26,โรงพยาบาลส่งเสริมสุขภาพตำบลเขาพระบาท อ.เชียรให...,"Khao Phra Bat Health Promotion Hospital, Chian...",MOBILE,8.064768,100.191452,2020-07-20,21:00:00,6.0,NaN,NaN,NaN,NaN,NaN,1,"ต.เขาพระบาท อ.เชียรใหญ่, นครศรีธรรมราช","Khao Phra Bat, Chian Yai, Nakhon Si Thammarat",2020-07-20 21:00:00.000

# Province name list

In [181]:
provinceName=['เชียงราย', 
'เชียงใหม่',
'น่าน', 
'พะเยา', 
'แพร่', 
'แม่ฮ่องสอน', 
'ลำปาง', 
'ลำพูน', 
'อุตรดิตถ์',
'กาฬสินธ์ุ',
'ขอนแก่น',
'ชัยภูมิ',
'นครพนม',
'นครราชสีมา',
'บึงกาฬ',
'บุรีรัมย์',
'มหาสารคาม',
'มุกดาหาร',
'ยโสธร',
'ร้อยเอ็ด',
'เลย',
'สกลนคร',
'สุรินทร์',
'ศรีสะเกษ',
'หนองคาย',
'หนองบัวลำภู',
'อุดรธานี',
'อุบลราชธานี',
'อำนาจเจริญ',
'กำแพงเพชร',
'ชัยนาท',
'นครนายก',
'นครปฐม',
'นครสวรรค์',
'นนทบุรี',
'ปทุมธานี',
'พระนครศรีอยุธยา',
'พิจิตร',
'พิษณุโลก',
'เพชรบูรณ์',
'ลพบุรี',
'สมุทรปราการ',
'สมุทรสงคราม',
'สมุทรสาคร',
'สิงห์บุรี',
'สุโขทัย',
'สุพรรณบุรี',
'สระบุรี',
'อ่างทอง',
'อุทัยธานี',
'จันทบุรี',
'ฉะเชิงเทรา', 
'ตราด',
'ปราจีนบุรี',
'ระยอง',
'สระแก้ว',
'กาญจนบุรี',
'ตาก',
'ประจวบคีรีขันธ์',
'เพชรบุรี',
'ราชบุรี',
'กระบี่',
'ชุุมพร',
'ตรัง',
'นครศรีธรรมราช',
'นราธิวาส',
'ปัตตานี',
'พังงา',
'พัทลุง',
'ภูเก็ต',
'ระนอง',
'สตูล',
'สงขลา',
'สุราษฎร์ธานี',
'ยะลา',
'กรุงเทพฯ',
'ชลบุรี']

# แปลงชื่อบางสถานที่ที่ไม่ได้มีชื่อจังหวัดอยู่ใน areaTH

In [182]:
dataframe["areaTH"].replace({"แขวงคลองกุ่ม เขตบึงกุ่ม":"กรุงเทพฯ",
                            "เขตปลอดอากรท่าอากาศยานสุวรรณภูมิ":"สมุทรปราการ",
                            "หมู่บ้านทูแกรนด์โมนาโค":"กรุงเทพฯ",
                            "หมู่บ้านแกรนด์โมนาโค":"กรุงเทพฯ",
                            "หมู่บ้านลลิน กรีนวิลล์":"กรุงเทพฯ",
                            "แขวงดอกไม้ เขตประเวศ, กรุงเทพมหานคร":"กรุงเทพฯ"},
                            inplace=True)

# แปลงข้อมูลใน areaTH ให้เป็นชื่อจังหวัด

In [183]:
def checkContainProvince(x):
    for i in range (0,len(provinceName)):
        if (provinceName[i] in x):
            return i 
    return -1

In [184]:
dataframe['provinceNo'] = dataframe['areaTH'].apply(lambda x : checkContainProvince(x))

# เช็คว่ามีข้อมูลที่ไม่เจอใน provinceName หรือไม่

In [185]:
filter = dataframe['provinceNo'] == -1

In [186]:
dataframe[filter].head()

Empty DataFrame
Columns: [id, stationID, nameTH, nameEN, stationType, lat, long, date_aq, time_aq, PM25, PM10, NO2, SO2, CO, O3, AQI, areaTH, areaEN, datetime_aq, provinceNo]
Index: []

# เช็คจำนวนจังหวัดทั้งหมด

In [187]:
dataframe['provinceNo'].nunique()

65

In [188]:
dataframe['provinceNo'].unique()

array([57, 32, 13, 64, 33, 34, 65,  2, 35, 53, 66, 36,  3, 67, 68, 69, 74,
       70, 54, 60,  6,  7, 72, 71, 41, 42, 43, 47, 55, 46, 73, 24, 49, 27,
        0,  1, 20,  4,  5, 75, 56, 10, 61, 76, 63, 52, 51, 21, 19,  9, 15,
       37, 38,  8, 45, 40, 11, 39, 29, 12, 14, 17, 26, 44, 31],
      dtype=int64)

# เช็คว่าจังหวัดไหนใน provinceName ที่ไม่มีในข้อมูลที่อาจารย์ให้มา

In [189]:
for i in range(0,len(provinceName)):
    if i not in dataframe['provinceNo'].unique():
        print(provinceName[i])

มหาสารคาม
ยโสธร
สุรินทร์
ศรีสะเกษ
หนองบัวลำภู
อำนาจเจริญ
ชัยนาท
อ่างทอง
จันทบุรี
ประจวบคีรีขันธ์
เพชรบุรี
ชุุมพร

In [190]:
dataframe.head()

,id,stationID,nameTH,nameEN,stationType,lat,long,date_aq,time_aq,PM25,PM10,NO2,SO2,CO,O3,AQI,areaTH,areaEN,datetime_aq,provinceNo
0,515454,76t,ศูนย์การศึกษานอกโรงเรียน,"Non-Formal Education Centre, Mea Sot",GROUND,16.750102,98.591312,2020-07-20,21:00:00,8.0,22.0,4.0,NaN,0.13,13.0,1,"ต.แม่ปะ อ.แม่สอด, ตาก","MaePa, MaeSot, Tak",2020-07-20 21:00:00.000,57
1,515455,81t,อ่างเก็บน้ำประปา,Water reservoir,GROUND,13.832076,100.057961,2020-07-20,21:00:00,10.0,24.0,9.0,1.0,0.58,27.0,1,"ต.นครปฐม อ.เมือง, นครปฐม","Mueang, Nakhon Pathom",2020-07-20 21:00:00.000,32
2,515456,47t,สถานีสูบน้ำประตูพลแสน,Municipal Waste Water Pumping Station,GROUND,14.979726,102.098301,2020-07-20,21:00:00,17.0,35.0,12.0,0.0,0.61,7.0,1,"ต.ในเมือง อ.เมือง, นครราชสีมา","Nai Mueang, Mueang, Nakhon Ratchasima",2020-07-20 21:00:00.000,13
3,515457,m3,สำนักงานพระพุทธศาสนา จังหวัดนครศรีธรรมราช,Office Of Buddhism Nakhon Si Thammarat,MOBILE,8.427328,99.963666,2020-07-20,20:00:00,10.0,24.0,NaN,NaN,NaN,NaN,1,"ต.ในเมือง อ.เมือง, นครศรีธรรมราช","Mueang, Nakhon Si Thammarat",2020-07-20 20:00:00.000,64
4,515458,o26,โรงพยาบาลส่งเสริมสุขภาพตำบลเขาพระบาท อ.เชียรให...,"Khao Phra Bat Health Promotion Hospital, Chian...",MOBILE,8.064768,100.191452,2020-07-20,21:00:00,6.0,NaN,NaN,NaN,NaN,NaN,1,"ต.เขาพระบาท อ.เชียรใหญ่, นครศรีธรรมราช","Khao Phra Bat, Chian Yai, Nakhon Si Thammarat",2020-07-20 21:00:00.000,64

# Drop id และแถวที่ไม่มีข้อมูล PM2.5

In [191]:
dataframe.drop('id',axis=1,inplace=True)

In [192]:
dataframe.dropna(subset=['PM25'],inplace=True)

In [193]:
dataframe.head()

,stationID,nameTH,nameEN,stationType,lat,long,date_aq,time_aq,PM25,PM10,NO2,SO2,CO,O3,AQI,areaTH,areaEN,datetime_aq,provinceNo
0,76t,ศูนย์การศึกษานอกโรงเรียน,"Non-Formal Education Centre, Mea Sot",GROUND,16.750102,98.591312,2020-07-20,21:00:00,8.0,22.0,4.0,NaN,0.13,13.0,1,"ต.แม่ปะ อ.แม่สอด, ตาก","MaePa, MaeSot, Tak",2020-07-20 21:00:00.000,57
1,81t,อ่างเก็บน้ำประปา,Water reservoir,GROUND,13.832076,100.057961,2020-07-20,21:00:00,10.0,24.0,9.0,1.0,0.58,27.0,1,"ต.นครปฐม อ.เมือง, นครปฐม","Mueang, Nakhon Pathom",2020-07-20 21:00:00.000,32
2,47t,สถานีสูบน้ำประตูพลแสน,Municipal Waste Water Pumping Station,GROUND,14.979726,102.098301,2020-07-20,21:00:00,17.0,35.0,12.0,0.0,0.61,7.0,1,"ต.ในเมือง อ.เมือง, นครราชสีมา","Nai Mueang, Mueang, Nakhon Ratchasima",2020-07-20 21:00:00.000,13
3,m3,สำนักงานพระพุทธศาสนา จังหวัดนครศรีธรรมราช,Office Of Buddhism Nakhon Si Thammarat,MOBILE,8.427328,99.963666,2020-07-20,20:00:00,10.0,24.0,NaN,NaN,NaN,NaN,1,"ต.ในเมือง อ.เมือง, นครศรีธรรมราช","Mueang, Nakhon Si Thammarat",2020-07-20 20:00:00.000,64
4,o26,โรงพยาบาลส่งเสริมสุขภาพตำบลเขาพระบาท อ.เชียรให...,"Khao Phra Bat Health Promotion Hospital, Chian...",MOBILE,8.064768,100.191452,2020-07-20,21:00:00,6.0,NaN,NaN,NaN,NaN,NaN,1,"ต.เขาพระบาท อ.เชียรใหญ่, นครศรีธรรมราช","Khao Phra Bat, Chian Yai, Nakhon Si Thammarat",2020-07-20 21:00:00.000,64

# เช็คข้อมูล CO และ O3 ว่ามี missing values หรือไม่

In [194]:
dataframe[['PM25','CO','O3']].isnull().sum()

PM25          0
CO      1189872
O3       897967
dtype: int64

จากข้อมูลด้านบนเนื่องจากมี missing value > 50 % จึงไม่สามารถนำข้อมูล CO และ O3 มาใช้ได้

# หา mean ของทุก province ในแต่ละวัน

In [195]:
dfPM25 = dataframe.groupby(['date_aq','provinceNo'])['PM25'].mean()

In [196]:
dfPM25 = dfPM25.to_frame()
dfPM25

                            PM25
date_aq    provinceNo
2020-07-20 0            9.000000
           1           17.444444
           2            7.777778
           3            6.000000
           4           11.250000
...                          ...
2022-01-30 71          18.888889
           72          24.888889
           74          22.555556
           75          27.171239
           76          22.759259

[28192 rows x 1 columns]

# Find ProvinceNo in PM2.5

In [197]:
provinceNoInPM25 = dataframe['provinceNo'].unique()
print(provinceNoInPM25)

[57 32 13 64 33 34 65  2 35 53 66 36  3 67 68 69 74 70 54 60  6  7 72 71
 41 42 43 47 55 46 73 24 49 27  0  1 20  4  5 75 56 10 61 76 63 52 51 21
 19  9 15 37 38  8 45 40 11 39 29 12 14 17 26 44 31]

# Find ProvinceNo in O3

In [198]:
provinceDictO3 = {"yala":[74,"6.506;101.341;9"],"satun":[71,"6.680;100.403;9"], "songkhla":[72,"7.125;100.658;9"],"trang":[63,"7.493;99.926;9"], \
"nakhon-si-thammarat":[65-1,"8.227;99.789;9"],"wichit":[70-1,"8.038;98.722;9"],"surat-thani":[74-1,"9.115;99.007;9"],"ranong":[71-1,"9.863;98.867;9"], \
"kanchanaburi":[57-1,"13.923;100.349;9"] , "samut-sakhon":[44-1,"13.931;100.267;9"], "bangkok":[76-1,"13.931;100.267;9"] , "samut-prakan":[42-1,"13.931;100.267;9"] , \
"mueang-nonthaburi":[35-1,"13.931;100.267;9"] , \
"pathum-thani":[36-1,"13.931;100.267;9"] , "phra-nakhon-si-ayutthaya" : [37-1,"13.931;100.267;9"]  , "saraburi":[48-1,"14.475;100.437;9"] , \
"lop-buri":[41-1,"14.475;100.437;9"] , "sing-buri":[45-1,"14.475;100.437;9"] , "prachin-buri":[54-1,"14.475;100.437;9"] , "nakhon-nayok":[32-1,"14.475;100.437;9"] , \
"chiang-rai":[1-1, "19.22;99.99;8"], "mae-hong-son":[6-1, "19.02;97.87;8"], "phayao":[4-1, "19.10;100.27;8"], "nan":[3-1, "18.79;100.80;8"], \
"chiang-mai":[2-1, "18.93;99.06;8"], "lamphun":[8-1, "18.50;99.07;8"], "lampang":[7-1, "18.35;99.42;8"], "phrae":[5-1, "18.17;100.26;8"], "uttaradit":[9-1, "17.55;100.10;8"], \
"sukhothai":[46-1, "16.96;99.97;8"], "tak":[58-1, "16.83;99.18;8"], "phitsanulok":[39-1, "16.83;100.20;8"], "kamphaeng-phet":[30-1, "16.35;99.30;8"], "phichit":[38-1, "16.37;100.45;8"], \
"phetchabun":[40-1, "16.50;101.39;8"], "nakhon-sawan":[34-1, "15.73;100.26;8"], "uthai-thani":[50-1, "15.35;100.12;8"], "nong-khai":[25-1, "17.91;102.82;8"], \
"loei":[21-1, "17.47;101.90;8"], "udon-thani":[27-1, "17.50;102.79;8"], "nakhon-phanom":[13-1, "17.41;104.73;8"], \
"sakon-nakhon":[22-1, "17.17;104.19;8"], "khon-kaen":[11-1, "16.34;102.69;8"], "kalasin":[10-1, "16.50;103.73;8"], \
"roi-et":[20-1, "16.10;103.69;8"],  "chaiyaphum":[12-1, "15.87;102.05;8"], \
"ubon-ratchathani":[28-1, "14.98;105.17;8"], "buriram":[16-1, "14.84;102.88;8"], \
"nakhon-ratchasima":[14-1,"14.85;102.04;8"], "chon-buri":[77-1, "13.25;101.13;8"], "rayong":[55-1, "12.67;101.21;8"], "trat":[52, "12.25;102.55;8"]}

In [199]:
provinceNoInO3 = []
for (k,v) in provinceDictO3.items():
    provinceNoInO3.append(v[0])

In [200]:
print(provinceNoInO3)

[74, 71, 72, 63, 64, 69, 73, 70, 56, 43, 75, 41, 34, 35, 36, 47, 40, 44, 53, 31, 0, 5, 3, 2, 1, 7, 6, 4, 8, 45, 57, 38, 29, 37, 39, 33, 49, 24, 20, 26, 12, 21, 10, 9, 19, 11, 27, 15, 13, 76, 54, 52]

# Find intersect province between pm25 and o3 , co

In [201]:
def intersection(lst1, lst2):
    lst3 = [value for value in lst1 if value in lst2]
    return lst3

In [202]:
provinceNoIntersect = intersection(provinceNoInPM25,provinceNoInO3)
print(provinceNoIntersect)

[57, 13, 64, 33, 34, 2, 35, 53, 36, 3, 69, 74, 70, 54, 6, 7, 72, 71, 41, 43, 47, 73, 24, 49, 27, 0, 1, 20, 4, 5, 75, 56, 10, 76, 63, 52, 21, 19, 9, 15, 37, 38, 8, 45, 40, 11, 39, 29, 12, 26, 44, 31]

In [203]:
len(provinceNoIntersect)

52

จากข้างบนทำให้รู้ว่าจังหวัดของข้อมูลที่ scrape มา เป็น subset ของจังหวัดที่มีข้อมูลฝุ่น

# สร้างฟังก์ชั่นหาวันถัดไป

Filter only 1st 8th 15th 22th date of each month

In [204]:
yearList = ["2020","2021","2022"]
monthList = ["01","02","03","04","05","06","07","08","09","10","11","12"]
dayList = ["01","08","15","22"]
def nextDay(date):
    year=date[0:4]
    month=date[4:6]
    day=date[6:8]
    if day =="22":
        day=dayList[0]
        if month != "12":
            month=monthList[monthList.index(month)+1]
        else:
            month="01"
            year=yearList[yearList.index(year)+1]
    else:
        day=dayList[dayList.index(day)+1]
    return year+month+day

# สร้าง Valid Date เพื่อเก็บวันที่ที่นำมา clustering

In [205]:
validDate=[]
initialDate="20200722"
date=initialDate
validDate.append(initialDate)
while date < "20220122":
    temp = nextDay(date)
    validDate.append(temp)
    date = temp
print(validDate)

['20200722', '20200801', '20200808', '20200815', '20200822', '20200901', '20200908', '20200915', '20200922', '20201001', '20201008', '20201015', '20201022', '20201101', '20201108', '20201115', '20201122', '20201201', '20201208', '20201215', '20201222', '20210101', '20210108', '20210115', '20210122', '20210201', '20210208', '20210215', '20210222', '20210301', '20210308', '20210315', '20210322', '20210401', '20210408', '20210415', '20210422', '20210501', '20210508', '20210515', '20210522', '20210601', '20210608', '20210615', '20210622', '20210701', '20210708', '20210715', '20210722', '20210801', '20210808', '20210815', '20210822', '20210901', '20210908', '20210915', '20210922', '20211001', '20211008', '20211015', '20211022', '20211101', '20211108', '20211115', '20211122', '20211201', '20211208', '20211215', '20211222', '20220101', '20220108', '20220115', '20220122']

In [206]:
len(validDate)

73

In [207]:
validDate = list(map(lambda x :x[0:4]+"-"+x[4:6]+"-"+x[6:8] ,validDate))
print(validDate)

['2020-07-22', '2020-08-01', '2020-08-08', '2020-08-15', '2020-08-22', '2020-09-01', '2020-09-08', '2020-09-15', '2020-09-22', '2020-10-01', '2020-10-08', '2020-10-15', '2020-10-22', '2020-11-01', '2020-11-08', '2020-11-15', '2020-11-22', '2020-12-01', '2020-12-08', '2020-12-15', '2020-12-22', '2021-01-01', '2021-01-08', '2021-01-15', '2021-01-22', '2021-02-01', '2021-02-08', '2021-02-15', '2021-02-22', '2021-03-01', '2021-03-08', '2021-03-15', '2021-03-22', '2021-04-01', '2021-04-08', '2021-04-15', '2021-04-22', '2021-05-01', '2021-05-08', '2021-05-15', '2021-05-22', '2021-06-01', '2021-06-08', '2021-06-15', '2021-06-22', '2021-07-01', '2021-07-08', '2021-07-15', '2021-07-22', '2021-08-01', '2021-08-08', '2021-08-15', '2021-08-22', '2021-09-01', '2021-09-08', '2021-09-15', '2021-09-22', '2021-10-01', '2021-10-08', '2021-10-15', '2021-10-22', '2021-11-01', '2021-11-08', '2021-11-15', '2021-11-22', '2021-12-01', '2021-12-08', '2021-12-15', '2021-12-22', '2022-01-01', '2022-01-08', '2022-01-15', '2022-01-22']

In [208]:
dfPM25.reset_index(inplace=True)

In [209]:
dfPM25.head()

      date_aq  provinceNo       PM25
0  2020-07-20           0   9.000000
1  2020-07-20           1  17.444444
2  2020-07-20           2   7.777778
3  2020-07-20           3   6.000000
4  2020-07-20           4  11.250000

# Filter เฉพาะวันที่อยู่ใน Valid Date

In [210]:
dfPM25_filtered = dfPM25[dfPM25['date_aq'].isin(validDate)]
dfPM25_filtered =  dfPM25_filtered[dfPM25_filtered['provinceNo'].isin(provinceNoIntersect)]
dfPM25_filtered.rename({'date_aq':'date'},axis=1, inplace=True)

In [211]:
dfPM25_filtered.head()

          date  provinceNo       PM25
94  2020-07-22           0   9.062500
95  2020-07-22           1   9.276596
96  2020-07-22           2   8.458333
97  2020-07-22           3   9.458333
98  2020-07-22           4  11.333333

# Find missing PM25 for each province

In [212]:
df_struct = {
    "date":[],
    "provinceNo":[],
}

missingPM25ProvinceForEachDay = pd.DataFrame(df_struct)
for d in validDate:
    temp = provinceNoInO3.copy()
    dfOneday = dfPM25_filtered[dfPM25_filtered['date'] == d]
    for e in dfOneday['provinceNo']:
        temp.remove(e)
    for t in temp :
        data = [[d[0:4] + d[5:7] + d[8:10],t]]
        dfMissing = pd.DataFrame(
            data=data,
            columns=['date','provinceNo']
        )
        missingPM25ProvinceForEachDay = pd.concat([missingPM25ProvinceForEachDay,dfMissing],axis=0)

In [213]:
missingPM25ProvinceForEachDay.head()

       date  provinceNo
0  20200722        40.0
0  20200722        44.0
0  20200722        31.0
0  20200722         8.0
0  20200722        45.0

In [214]:
missingPM25ProvinceForEachDay.to_csv('../MissingPM25Date-Province/MissingPM25ForEachDateForEachProvince.csv')

# Concat Missing PM2.5 to the original PM2.5 dataframe

In [215]:
df_missingPM25 = pd.read_csv("../ScrapedData/PM25OfMissingDateAndProvince.csv")

In [216]:
df_missingPM25 = df_missingPM25.drop(columns=df_missingPM25.columns[0], axis=1)
df_missingPM25

         date  provinceNo  PM25
0    20200722          40    37
1    20200722          44    52
2    20200722          31    33
3    20200722           8    38
4    20200722          45    31
..        ...         ...   ...
689  20220108          11    22
690  20220115          70    15
691  20220115          31    24
692  20220122          70     7
693  20220122           8    35

[694 rows x 3 columns]

In [217]:
df_missingPM25.head()

       date  provinceNo  PM25
0  20200722          40    37
1  20200722          44    52
2  20200722          31    33
3  20200722           8    38
4  20200722          45    31

In [218]:
df_missingPM25['date'] = df_missingPM25['date'].astype(str)

In [219]:
df_missingPM25['date'] = df_missingPM25['date'].apply(lambda x :x[0:4]+"-"+x[4:6]+"-"+x[6:8])
df_missingPM25

           date  provinceNo  PM25
0    2020-07-22          40    37
1    2020-07-22          44    52
2    2020-07-22          31    33
3    2020-07-22           8    38
4    2020-07-22          45    31
..          ...         ...   ...
689  2022-01-08          11    22
690  2022-01-15          70    15
691  2022-01-15          31    24
692  2022-01-22          70     7
693  2022-01-22           8    35

[694 rows x 3 columns]

In [220]:
dfPM25_filtered = pd.concat([dfPM25_filtered,df_missingPM25],axis=0)

In [221]:
dfPM25_filtered

           date  provinceNo       PM25
94   2020-07-22           0   9.062500
95   2020-07-22           1   9.276596
96   2020-07-22           2   8.458333
97   2020-07-22           3   9.458333
98   2020-07-22           4  11.333333
..          ...         ...        ...
689  2022-01-08          11  22.000000
690  2022-01-15          70  15.000000
691  2022-01-15          31  24.000000
692  2022-01-22          70   7.000000
693  2022-01-22           8  35.000000

[3796 rows x 3 columns]

In [222]:
dfPM25_filtered.sort_values(by=['date','provinceNo'],inplace=True)
dfPM25_filtered

             date  provinceNo       PM25
94     2020-07-22           0   9.062500
95     2020-07-22           1   9.276596
96     2020-07-22           2   8.458333
97     2020-07-22           3   9.458333
98     2020-07-22           4  11.333333
...           ...         ...        ...
27720  2022-01-22          72  13.958333
27721  2022-01-22          73  15.833333
27722  2022-01-22          74  14.685185
27723  2022-01-22          75  17.225225
27724  2022-01-22          76  15.666667

[3796 rows x 3 columns]

# Merge PM2.5 กับข้อมูล O3 และ CO ที่เรา scrape มา

In [223]:
def prep(path):
    df = pd.read_csv(path)
    df = df.drop(columns=df.columns[0], axis=1)
    df['provinceNo'] = df['provinceNo'].astype(int)
    df['date'] = df['date'].astype(str)
    df['date'] = df['date'].apply(lambda x : x[0:4]+"-"+x[4:6]+"-"+x[6:8])
    return df

In [224]:
dfO3 = prep("../ScrapedData/O3Data.csv")
dfCO = prep("../ScrapedData/COData.csv")

In [225]:
df_merge_temp = dfPM25_filtered.merge(dfO3,on=['date','provinceNo'])
df_merge = df_merge_temp.merge(dfCO,on=['date','provinceNo'])
df_merge.rename({"o3":"O3","co":"CO"},axis=1,inplace=True)
df_merge.head()

         date  provinceNo       PM25  O3   CO
0  2020-07-22           0   9.062500  62  120
1  2020-07-22           1   9.276596  42  110
2  2020-07-22           2   8.458333  32  120
3  2020-07-22           3   9.458333  56  120
4  2020-07-22           4  11.333333  61  190

# << Machine Learing Model >>

# KMeans

In [226]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import math

# สร้างฟังก์ชั่นคำนวณหา z score ของ จุด Origin

In [227]:
def zscoreForOrigin(mean,sd):
    return (0-mean)/sd

In [228]:
def calculateOrigin(df):
    sd_x = df.iloc[:,0].std()
    mean_x = df.iloc[:,0].mean()
    sd_y = df.iloc[:,1].std()
    mean_y = df.iloc[:,1].mean()
    sd_z = df.iloc[:,2].std()
    mean_z = df.iloc[:,2].mean()
    return [zscoreForOrigin(mean_x,sd_x), zscoreForOrigin(mean_y,sd_y), zscoreForOrigin(mean_z,sd_z)]

# สร้างฟังก์ชั่นคำนวณหาระยะทางระหว่างจุด centroid กับจุด origin

In [229]:
def findDistanceFromOrigin(centroid,originCoordination):
    return math.sqrt( ((centroid[0]-originCoordination[0])**2) + ((centroid[1]-originCoordination[1])**2) + ((centroid[2]-originCoordination[2])**2) )

# สร้างฟังก์ชั่นเพื่อทำการ clustering ตามวันที่ที่ระบุ

In [230]:
def clusterOneday(date):
    df_DateProvinceNo = df_merge[df_merge['date'] == date].iloc[:,:2]
    df = df_merge[df_merge['date'] == date].iloc[:,2:]

    # Find origin
    origin3Center = calculateOrigin(df)

    # Using StandardScaler
    scaler = StandardScaler()
    scaler.fit(df)
    trans_df = scaler.transform(df)

    # Applying Kmeans
    kmeans = KMeans(n_clusters=3,random_state=2022) #might change as there will be 3 features
    kmeans.fit(trans_df)

    # Add distance of each centroid in a list
    distanceEachCenterAndOrigin = []
    for i in range(3):
        distanceEachCenterAndOrigin.append((findDistanceFromOrigin(kmeans.cluster_centers_[i],origin3Center),i))
    distanceEachCenterAndOrigin.sort(key = lambda x : x[0])

    # Change number of cluster to Best Air/Moderate Air/Worst Air
    mapper ={distanceEachCenterAndOrigin[0][1]:"Best Air",distanceEachCenterAndOrigin[1][1]:"Moderate Air",distanceEachCenterAndOrigin[2][1]:"Worst Air"}
    predict_df = pd.DataFrame(kmeans.predict(trans_df),columns=['cluster'])
    predict_df['cluster'] = predict_df['cluster'].replace(mapper)
    predict_df.insert(0,"provinceNo",df_DateProvinceNo['provinceNo'].to_list())
    predict_df.insert(0,"date",df_DateProvinceNo['date'].to_list())
    
    return predict_df

# Run clusterOneday ใน validDate ให้ครบทุกวัน

In [231]:
dfCluster = clusterOneday('2020-07-22')
for e in validDate[1:]:
    dfClusterTemp = clusterOneday(e)
    dfCluster = pd.concat([dfCluster,dfClusterTemp])
dfCluster

          date  provinceNo   cluster
0   2020-07-22           0  Best Air
1   2020-07-22           1  Best Air
2   2020-07-22           2  Best Air
3   2020-07-22           3  Best Air
4   2020-07-22           4  Best Air
..         ...         ...       ...
47  2022-01-22          72  Best Air
48  2022-01-22          73  Best Air
49  2022-01-22          74  Best Air
50  2022-01-22          75  Best Air
51  2022-01-22          76  Best Air

[3796 rows x 3 columns]

# Merge dataframe ที่เก็บค่า PM2.5 O3 CO กับ dfCluster

In [232]:
dfFinalResult = df_merge.merge(dfCluster,on=['date','provinceNo'])
dfFinalResult

            date  provinceNo       PM25  O3    CO   cluster
0     2020-07-22           0   9.062500  62   120  Best Air
1     2020-07-22           1   9.276596  42   110  Best Air
2     2020-07-22           2   8.458333  32   120  Best Air
3     2020-07-22           3   9.458333  56   120  Best Air
4     2020-07-22           4  11.333333  61   190  Best Air
...          ...         ...        ...  ..   ...       ...
3791  2022-01-22          72  13.958333  65   230  Best Air
3792  2022-01-22          73  15.833333  58   250  Best Air
3793  2022-01-22          74  14.685185  60   230  Best Air
3794  2022-01-22          75  17.225225  85  1010  Best Air
3795  2022-01-22          76  15.666667  83   320  Best Air

[3796 rows x 6 columns]

# เปลี่ยน provinceNo เป็น province

In [233]:
dfFinalResult['provinceNo'] = dfFinalResult['provinceNo'].apply(lambda x : provinceName[x])
dfFinalResult.rename({"provinceNo":"province"},axis=1,inplace=True)
dfFinalResult

            date      province       PM25  O3    CO   cluster
0     2020-07-22      เชียงราย   9.062500  62   120  Best Air
1     2020-07-22     เชียงใหม่   9.276596  42   110  Best Air
2     2020-07-22          น่าน   8.458333  32   120  Best Air
3     2020-07-22         พะเยา   9.458333  56   120  Best Air
4     2020-07-22          แพร่  11.333333  61   190  Best Air
...          ...           ...        ...  ..   ...       ...
3791  2022-01-22         สงขลา  13.958333  65   230  Best Air
3792  2022-01-22  สุราษฎร์ธานี  15.833333  58   250  Best Air
3793  2022-01-22          ยะลา  14.685185  60   230  Best Air
3794  2022-01-22      กรุงเทพฯ  17.225225  85  1010  Best Air
3795  2022-01-22        ชลบุรี  15.666667  83   320  Best Air

[3796 rows x 6 columns]

# Export csv เพื่อนำไป Visualize

In [234]:
dfFinalResult.to_csv('../Result/FinalResultWithProvinceName_AndClusterName_AndNoMissingPM25.csv')