In [54]:
import pandas as pd

In [55]:
dataframe = pd.read_csv("../Data/PCD data after 2020-7.csv")

In [56]:
dataframe.head()

,id,stationID,nameTH,nameEN,stationType,lat,long,date_aq,time_aq,PM25,PM10,NO2,SO2,CO,O3,AQI,areaTH,areaEN,datetime_aq
0,515454,76t,ศูนย์การศึกษานอกโรงเรียน,"Non-Formal Education Centre, Mea Sot",GROUND,16.750102,98.591312,2020-07-20,21:00:00,8.0,22.0,4.0,NaN,0.13,13.0,1,"ต.แม่ปะ อ.แม่สอด, ตาก","MaePa, MaeSot, Tak",2020-07-20 21:00:00.000
1,515455,81t,อ่างเก็บน้ำประปา,Water reservoir,GROUND,13.832076,100.057961,2020-07-20,21:00:00,10.0,24.0,9.0,1.0,0.58,27.0,1,"ต.นครปฐม อ.เมือง, นครปฐม","Mueang, Nakhon Pathom",2020-07-20 21:00:00.000
2,515456,47t,สถานีสูบน้ำประตูพลแสน,Municipal Waste Water Pumping Station,GROUND,14.979726,102.098301,2020-07-20,21:00:00,17.0,35.0,12.0,0.0,0.61,7.0,1,"ต.ในเมือง อ.เมือง, นครราชสีมา","Nai Mueang, Mueang, Nakhon Ratchasima",2020-07-20 21:00:00.000
3,515457,m3,สำนักงานพระพุทธศาสนา จังหวัดนครศรีธรรมราช,Office Of Buddhism Nakhon Si Thammarat,MOBILE,8.427328,99.963666,2020-07-20,20:00:00,10.0,24.0,NaN,NaN,NaN,NaN,1,"ต.ในเมือง อ.เมือง, นครศรีธรรมราช","Mueang, Nakhon Si Thammarat",2020-07-20 20:00:00.000
4,515458,o26,โรงพยาบาลส่งเสริมสุขภาพตำบลเขาพระบาท อ.เชียรให...,"Khao Phra Bat Health Promotion Hospital, Chian...",MOBILE,8.064768,100.191452,2020-07-20,21:00:00,6.0,NaN,NaN,NaN,NaN,NaN,1,"ต.เขาพระบาท อ.เชียรใหญ่, นครศรีธรรมราช","Khao Phra Bat, Chian Yai, Nakhon Si Thammarat",2020-07-20 21:00:00.000

In [57]:
dataframe["areaTH"].nunique()

188

In [58]:
dataframe["areaEN"].value_counts().tail(20)

Khao Phra Bat, Chian Yai, Nakhon Si Thammarat                                           2150
Tambon Rahaeng, Amphoe Mueang, Tak                                                      2082
 Nai Mueang Subdistrict, Mueang District, Roi Et                                        1871
Khuan Maphrao, Mueang, Phatthalung                                                      1849
Mae Chaem,Chiang Mai                                                                    1611
Mueang, Phangnga                                                                        1521
Racha Thewa Subdistrict, Bang Phli District, Samut Prakan                               1411
Dokmai Subdistrict, Prawet District, Bangkok                                            1380
Mueang, Phitsanulok                                                                     1324
Mueang District, Ranong                                                                 1289
 Bang Man Subdistrict, Mueang District, Sing Buri                                        916
Mueang, Nakhon Si Thammarat                                                              787
Charoen Muang Road, That Na Weng Subdistrict, Mueang District, Sakon Nakhon Province     566
 Bang Khen, Mueang, Nonthaburi                                                           402
 Ban Muang Sub-district, Ban Muang District, Sakon Nakhon Province                       224
Nakhon Nayok Subdistrict, Mueang District, Nakhon Nayok                                  219
 Bang Krachao Subdistrict, Bang Krachao District, Samut Prakan                            70
Wat Ket,Mueang Chiang Mai                                                                 51
Tha Phae Gate,Mueang Chiang Mai                                                           29
Ban Pang, Bang Sai, Phra Nakhon Si Ayutthaya                                              27
Name: areaEN, dtype: int64

In [59]:
dataframe["stationID"].nunique()

151

In [60]:
province = dataframe["nameEN"].apply(lambda x : x.split(', ')[-1])

In [61]:
province.head()

0                                   Mea Sot
1                           Water reservoir
2     Municipal Waste Water Pumping Station
3    Office Of Buddhism Nakhon Si Thammarat
4                       Nakhon Si Thammarat
Name: nameEN, dtype: object

In [62]:
province.nunique()

150

In [63]:
dataframe[["lat","long"]].head()

         lat        long
0  16.750102   98.591312
1  13.832076  100.057961
2  14.979726  102.098301
3   8.427328   99.963666
4   8.064768  100.191452

In [141]:
provinceName=['เชียงราย', 
'เชียงใหม่',
'น่าน', 
'พะเยา', 
'แพร่', 
'แม่ฮ่องสอน', 
'ลำปาง', 
'ลำพูน', 
'อุตรดิตถ์',
'กาฬสินธ์ุ',
'ขอนแก่น',
'ชัยภูมิ',
'นครพนม',
'นครราชสีมา',
'บึงกาฬ',
'บุรีรัมย์',
'มหาสารคาม',
'มุกดาหาร',
'ยโสธร',
'ร้อยเอ็ด',
'เลย',
'สกลนคร',
'สุรินทร์',
'ศรีสะเกษ',
'หนองคาย',
'หนองบัวลำภู',
'อุดรธานี',
'อุบลราชธานี',
'อำนาจเจริญ',
'กำแพงเพชร',
'ชัยนาท',
'นครนายก',
'นครปฐม',
'นครสวรรค์',
'นนทบุรี',
'ปทุมธานี',
'พระนครศรีอยุธยา',
'พิจิตร',
'พิษณุโลก',
'เพชรบูรณ์',
'ลพบุรี',
'สมุทรปราการ',
'สมุทรสงคราม',
'สมุทรสาคร',
'สิงห์บุรี',
'สุโขทัย',
'สุพรรณบุรี',
'สระบุรี',
'อ่างทอง',
'อุทัยธานี',
'จันทบุรี',
'ฉะเชิงเทรา', 
'ตราด',
'ปราจีนบุรี',
'ระยอง',
'สระแก้ว',
'กาญจนบุรี',
'ตาก',
'ประจวบคีรีขันธ์',
'เพชรบุรี',
'ราชบุรี',
'กระบี่',
'ชุุมพร',
'ตรัง',
'นครศรีธรรมราช',
'นราธิวาส',
'ปัตตานี',
'พังงา',
'พัทลุง',
'ภูเก็ต',
'ระนอง',
'สตูล',
'สงขลา',
'สุราษฎร์ธานี',
'ยะลา',
'กรุงเทพฯ',
'ชลบุรี']

In [142]:
dataframe["areaTH"].replace({"แขวงคลองกุ่ม เขตบึงกุ่ม":"กรุงเทพฯ","เขตปลอดอากรท่าอากาศยานสุวรรณภูมิ":"สมุทรปราการ","หมู่บ้านทูแกรนด์โมนาโค":"กรุงเทพฯ","หมู่บ้านแกรนด์โมนาโค":"กรุงเทพฯ","หมู่บ้านลลิน กรีนวิลล์":"กรุงเทพฯ","แขวงดอกไม้ เขตประเวศ, กรุงเทพมหานคร":"กรุงเทพฯ"},inplace=True)

In [143]:
def checkContainProvince(x):
    for i in range (0,len(provinceName)):
        if (provinceName[i] in x):
            return i 
    #print(x)
    return -1

In [144]:
dataframe['provinceNo'] = dataframe['areaTH'].apply(lambda x : checkContainProvince(x))

In [145]:
dataframe['provinceNo'].value_counts().head(10)

75    771078
54     78403
41     75091
6      52039
1      40766
76     37951
43     26327
0      26219
65     26210
74     26131
Name: provinceNo, dtype: int64

In [146]:
filter = dataframe['provinceNo'] == -1

In [147]:
dataframe[filter].head()

Empty DataFrame
Columns: [id, stationID, nameTH, nameEN, stationType, lat, long, date_aq, time_aq, PM25, PM10, NO2, SO2, CO, O3, AQI, areaTH, areaEN, datetime_aq, provinceNo]
Index: []

In [148]:
dataframe['provinceNo'].nunique()

65

In [149]:
dataframe['provinceNo'].unique()

array([57, 32, 13, 64, 33, 34, 65,  2, 35, 53, 66, 36,  3, 67, 68, 69, 74,
       70, 54, 60,  6,  7, 72, 71, 41, 42, 43, 47, 55, 46, 73, 24, 49, 27,
        0,  1, 20,  4,  5, 75, 56, 10, 61, 76, 63, 52, 51, 21, 19,  9, 15,
       37, 38,  8, 45, 40, 11, 39, 29, 12, 14, 17, 26, 44, 31],
      dtype=int64)

In [150]:
for i in range(0,len(provinceName)):
    if i not in dataframe['provinceNo'].unique():
        print(provinceName[i])

มหาสารคาม
ยโสธร
สุรินทร์
ศรีสะเกษ
หนองบัวลำภู
อำนาจเจริญ
ชัยนาท
อ่างทอง
จันทบุรี
ประจวบคีรีขันธ์
เพชรบุรี
ชุุมพร