In [64]:
import pandas as pd

In [65]:
dataframe = pd.read_csv("../Data/PCD data after 2020-7.csv")

In [66]:
dataframe.head()

,id,stationID,nameTH,nameEN,stationType,lat,long,date_aq,time_aq,PM25,PM10,NO2,SO2,CO,O3,AQI,areaTH,areaEN,datetime_aq
0,515454,76t,ศูนย์การศึกษานอกโรงเรียน,"Non-Formal Education Centre, Mea Sot",GROUND,16.750102,98.591312,2020-07-20,21:00:00,8.0,22.0,4.0,NaN,0.13,13.0,1,"ต.แม่ปะ อ.แม่สอด, ตาก","MaePa, MaeSot, Tak",2020-07-20 21:00:00.000
1,515455,81t,อ่างเก็บน้ำประปา,Water reservoir,GROUND,13.832076,100.057961,2020-07-20,21:00:00,10.0,24.0,9.0,1.0,0.58,27.0,1,"ต.นครปฐม อ.เมือง, นครปฐม","Mueang, Nakhon Pathom",2020-07-20 21:00:00.000
2,515456,47t,สถานีสูบน้ำประตูพลแสน,Municipal Waste Water Pumping Station,GROUND,14.979726,102.098301,2020-07-20,21:00:00,17.0,35.0,12.0,0.0,0.61,7.0,1,"ต.ในเมือง อ.เมือง, นครราชสีมา","Nai Mueang, Mueang, Nakhon Ratchasima",2020-07-20 21:00:00.000
3,515457,m3,สำนักงานพระพุทธศาสนา จังหวัดนครศรีธรรมราช,Office Of Buddhism Nakhon Si Thammarat,MOBILE,8.427328,99.963666,2020-07-20,20:00:00,10.0,24.0,NaN,NaN,NaN,NaN,1,"ต.ในเมือง อ.เมือง, นครศรีธรรมราช","Mueang, Nakhon Si Thammarat",2020-07-20 20:00:00.000
4,515458,o26,โรงพยาบาลส่งเสริมสุขภาพตำบลเขาพระบาท อ.เชียรให...,"Khao Phra Bat Health Promotion Hospital, Chian...",MOBILE,8.064768,100.191452,2020-07-20,21:00:00,6.0,NaN,NaN,NaN,NaN,NaN,1,"ต.เขาพระบาท อ.เชียรใหญ่, นครศรีธรรมราช","Khao Phra Bat, Chian Yai, Nakhon Si Thammarat",2020-07-20 21:00:00.000

In [67]:
dataframe["areaTH"].nunique()

188

In [68]:
dataframe["areaEN"].value_counts().tail(20)

Khao Phra Bat, Chian Yai, Nakhon Si Thammarat                                           2150
Tambon Rahaeng, Amphoe Mueang, Tak                                                      2082
 Nai Mueang Subdistrict, Mueang District, Roi Et                                        1871
Khuan Maphrao, Mueang, Phatthalung                                                      1849
Mae Chaem,Chiang Mai                                                                    1611
Mueang, Phangnga                                                                        1521
Racha Thewa Subdistrict, Bang Phli District, Samut Prakan                               1411
Dokmai Subdistrict, Prawet District, Bangkok                                            1380
Mueang, Phitsanulok                                                                     1324
Mueang District, Ranong                                                                 1289
 Bang Man Subdistrict, Mueang District, Sing Buri                                        916
Mueang, Nakhon Si Thammarat                                                              787
Charoen Muang Road, That Na Weng Subdistrict, Mueang District, Sakon Nakhon Province     566
 Bang Khen, Mueang, Nonthaburi                                                           402
 Ban Muang Sub-district, Ban Muang District, Sakon Nakhon Province                       224
Nakhon Nayok Subdistrict, Mueang District, Nakhon Nayok                                  219
 Bang Krachao Subdistrict, Bang Krachao District, Samut Prakan                            70
Wat Ket,Mueang Chiang Mai                                                                 51
Tha Phae Gate,Mueang Chiang Mai                                                           29
Ban Pang, Bang Sai, Phra Nakhon Si Ayutthaya                                              27
Name: areaEN, dtype: int64

In [69]:
dataframe["stationID"].nunique()

151

In [70]:
province = dataframe["nameEN"].apply(lambda x : x.split(', ')[-1])

In [71]:
province.head()

0                                   Mea Sot
1                           Water reservoir
2     Municipal Waste Water Pumping Station
3    Office Of Buddhism Nakhon Si Thammarat
4                       Nakhon Si Thammarat
Name: nameEN, dtype: object

In [72]:
province.nunique()

150

In [73]:
dataframe[["lat","long"]].head()

         lat        long
0  16.750102   98.591312
1  13.832076  100.057961
2  14.979726  102.098301
3   8.427328   99.963666
4   8.064768  100.191452

In [74]:
provinceName=['เชียงราย', 
'เชียงใหม่',
'น่าน', 
'พะเยา', 
'แพร่', 
'แม่ฮ่องสอน', 
'ลำปาง', 
'ลำพูน', 
'อุตรดิตถ์',
'กาฬสินธ์ุ',
'ขอนแก่น',
'ชัยภูมิ',
'นครพนม',
'นครราชสีมา',
'บึงกาฬ',
'บุรีรัมย์',
'มหาสารคาม',
'มุกดาหาร',
'ยโสธร',
'ร้อยเอ็ด',
'เลย',
'สกลนคร',
'สุรินทร์',
'ศรีสะเกษ',
'หนองคาย',
'หนองบัวลำภู',
'อุดรธานี',
'อุบลราชธานี',
'อำนาจเจริญ',
'กำแพงเพชร',
'ชัยนาท',
'นครนายก',
'นครปฐม',
'นครสวรรค์',
'นนทบุรี',
'ปทุมธานี',
'พระนครศรีอยุธยา',
'พิจิตร',
'พิษณุโลก',
'เพชรบูรณ์',
'ลพบุรี',
'สมุทรปราการ',
'สมุทรสงคราม',
'สมุทรสาคร',
'สิงห์บุรี',
'สุโขทัย',
'สุพรรณบุรี',
'สระบุรี',
'อ่างทอง',
'อุทัยธานี',
'จันทบุรี',
'ฉะเชิงเทรา', 
'ตราด',
'ปราจีนบุรี',
'ระยอง',
'สระแก้ว',
'กาญจนบุรี',
'ตาก',
'ประจวบคีรีขันธ์',
'เพชรบุรี',
'ราชบุรี',
'กระบี่',
'ชุุมพร',
'ตรัง',
'นครศรีธรรมราช',
'นราธิวาส',
'ปัตตานี',
'พังงา',
'พัทลุง',
'ภูเก็ต',
'ระนอง',
'สตูล',
'สงขลา',
'สุราษฎร์ธานี',
'ยะลา',
'กรุงเทพฯ',
'ชลบุรี']

In [75]:
dataframe["areaTH"].replace({"แขวงคลองกุ่ม เขตบึงกุ่ม":"กรุงเทพฯ","เขตปลอดอากรท่าอากาศยานสุวรรณภูมิ":"สมุทรปราการ","หมู่บ้านทูแกรนด์โมนาโค":"กรุงเทพฯ","หมู่บ้านแกรนด์โมนาโค":"กรุงเทพฯ","หมู่บ้านลลิน กรีนวิลล์":"กรุงเทพฯ","แขวงดอกไม้ เขตประเวศ, กรุงเทพมหานคร":"กรุงเทพฯ"},inplace=True)

In [76]:
def checkContainProvince(x):
    for i in range (0,len(provinceName)):
        if (provinceName[i] in x):
            return i 
    #print(x)
    return -1

In [77]:
dataframe['provinceNo'] = dataframe['areaTH'].apply(lambda x : checkContainProvince(x))

In [78]:
dataframe['provinceNo'].value_counts().head(10)

75    771078
54     78403
41     75091
6      52039
1      40766
76     37951
43     26327
0      26219
65     26210
74     26131
Name: provinceNo, dtype: int64

In [79]:
filter = dataframe['provinceNo'] == -1

In [80]:
dataframe[filter].head()

Empty DataFrame
Columns: [id, stationID, nameTH, nameEN, stationType, lat, long, date_aq, time_aq, PM25, PM10, NO2, SO2, CO, O3, AQI, areaTH, areaEN, datetime_aq, provinceNo]
Index: []

In [81]:
dataframe['provinceNo'].nunique()

65

In [82]:
dataframe['provinceNo'].unique()

array([57, 32, 13, 64, 33, 34, 65,  2, 35, 53, 66, 36,  3, 67, 68, 69, 74,
       70, 54, 60,  6,  7, 72, 71, 41, 42, 43, 47, 55, 46, 73, 24, 49, 27,
        0,  1, 20,  4,  5, 75, 56, 10, 61, 76, 63, 52, 51, 21, 19,  9, 15,
       37, 38,  8, 45, 40, 11, 39, 29, 12, 14, 17, 26, 44, 31],
      dtype=int64)

In [83]:
for i in range(0,len(provinceName)):
    if i not in dataframe['provinceNo'].unique():
        print(provinceName[i])

มหาสารคาม
ยโสธร
สุรินทร์
ศรีสะเกษ
หนองบัวลำภู
อำนาจเจริญ
ชัยนาท
อ่างทอง
จันทบุรี
ประจวบคีรีขันธ์
เพชรบุรี
ชุุมพร

In [84]:
dataframe.tail()

,id,stationID,nameTH,nameEN,stationType,lat,long,date_aq,time_aq,PM25,PM10,NO2,SO2,CO,O3,AQI,areaTH,areaEN,datetime_aq,provinceNo
1748632,2307327,bkp88t,มหาวิทยาลัยสยาม,Siam University,BKK,13.718689,100.453910,2022-01-30,09:00:00,33.0,NaN,NaN,NaN,NaN,NaN,2,"ริมถนนเพชรเกษม เขตภาษีเจริญ, กรุงเทพฯ","Petchkasem Roadside, Phasi Charoen, Bangkok",2022-01-30 09:00:00.000,75
1748633,2307297,bkp58t,สำนักงานเขตราษฎร์บูรณะ กรุงเทพฯ,"Rat Burana District Office, Bangkok",BKK,13.682136,100.506051,2022-01-30,09:00:00,30.0,78.0,NaN,NaN,NaN,NaN,2,"ริมถนนราษฎร์บูรณะ, เขตราษฎร์บูรณะ, กรุงเทพฯ","Rat Burana, Bangkok",2022-01-30 09:00:00.000,75
1748634,2307298,bkp59t,สำนักงานเขตราชเทวี กรุงเทพฯ,"Ratchathewi District Office, Bangkok",BKK,13.759085,100.534579,2022-01-30,09:00:00,32.0,40.0,NaN,NaN,NaN,NaN,2,"ริมถนนพญาไท เขตราชเทวี, กรุงเทพฯ","Phayathai Roadside, Ratchathewi, Bangkok",2022-01-30 09:00:00.000,75
1748635,2307299,bkp60t,ริมสวนหย่อมตรงข้ามสำนักงานเขตดุสิต,"Dusit District Office, Bangkok",BKK,13.776664,100.520982,2022-01-30,09:00:00,26.0,56.0,NaN,NaN,NaN,NaN,2,"ริมถนนพระราม 5 เขตดุสิต, กรุงเทพฯ","RamaV Roadside, Dusit, Bangkok",2022-01-30 09:00:00.000,75
1748636,2307300,bkp61t,สำนักงานคณะกรรมการพัฒนาเศรษฐกิจและสังคมแห่งชาติ,National Economic and Social Development Counc...,BKK,13.756281,100.514267,2022-01-30,09:00:00,23.0,49.0,NaN,NaN,NaN,NaN,1,"ริมถนนกรุงเกษม เขตป้อมปราบศัตรูพ่าย, กรุงเทพฯ","Krung Kasem Roadside, Pom Prap Sattru Phai, Ba...",2022-01-30 09:00:00.000,75

# หาตัวแทนข้อมูลของแต่ละจังหวัด

In [85]:
dataframe.drop('id',axis=1,inplace=True)

In [86]:
dataframe.dropna(subset=['PM25'],inplace=True)

In [87]:
dataframe[['PM25','CO','O3']].isnull().sum()

PM25          0
CO      1189872
O3       897967
dtype: int64

In [88]:
dfPM25 = dataframe.groupby(['date_aq','provinceNo'])['PM25'].mean()

In [89]:
dfPM25 = dfPM25.to_frame()
dfPM25

                            PM25
date_aq    provinceNo
2020-07-20 0            9.000000
           1           17.444444
           2            7.777778
           3            6.000000
           4           11.250000
...                          ...
2022-01-30 71          18.888889
           72          24.888889
           74          22.555556
           75          27.171239
           76          22.759259

[28192 rows x 1 columns]

# Convert PM25 from per day to per week

Filter only 1st 8th 15th 22th date of each month

In [90]:
df_struct = {
    "date":[],
    "provinceNo":[],
    "pm25":[]
}
dfPM25perweek = pd.DataFrame(df_struct)

Find intersect province between pm25 and o3 , co

In [91]:
provinceNoInPM25 = dataframe['provinceNo'].unique()

In [92]:
print(provinceNoInPM25)

[57 32 13 64 33 34 65  2 35 53 66 36  3 67 68 69 74 70 54 60  6  7 72 71
 41 42 43 47 55 46 73 24 49 27  0  1 20  4  5 75 56 10 61 76 63 52 51 21
 19  9 15 37 38  8 45 40 11 39 29 12 14 17 26 44 31]

In [93]:
provinceDictO3 = {"yala":[74,"6.506;101.341;9"],"satun":[71,"6.680;100.403;9"], "songkhla":[72,"7.125;100.658;9"],"trang":[63,"7.493;99.926;9"], \
"nakhon-si-thammarat":[65-1,"8.227;99.789;9"],"wichit":[70-1,"8.038;98.722;9"],"surat-thani":[74-1,"9.115;99.007;9"],"ranong":[71-1,"9.863;98.867;9"], \
"kanchanaburi":[57-1,"13.923;100.349;9"] , "samut-sakhon":[44-1,"13.931;100.267;9"], "bangkok":[76-1,"13.931;100.267;9"] , "samut-prakan":[42-1,"13.931;100.267;9"] , \
"mueang-nonthaburi":[35-1,"13.931;100.267;9"] , \
"pathum-thani":[36-1,"13.931;100.267;9"] , "phra-nakhon-si-ayutthaya" : [37-1,"13.931;100.267;9"]  , "saraburi":[48-1,"14.475;100.437;9"] , \
"lop-buri":[41-1,"14.475;100.437;9"] , "sing-buri":[45-1,"14.475;100.437;9"] , "prachin-buri":[54-1,"14.475;100.437;9"] , "nakhon-nayok":[32-1,"14.475;100.437;9"] , \
"chiang-rai":[1-1, "19.22;99.99;8"], "mae-hong-son":[6-1, "19.02;97.87;8"], "phayao":[4-1, "19.10;100.27;8"], "nan":[3-1, "18.79;100.80;8"], \
"chiang-mai":[2-1, "18.93;99.06;8"], "lamphun":[8-1, "18.50;99.07;8"], "lampang":[7-1, "18.35;99.42;8"], "phrae":[5-1, "18.17;100.26;8"], "uttaradit":[9-1, "17.55;100.10;8"], \
"sukhothai":[46-1, "16.96;99.97;8"], "tak":[58-1, "16.83;99.18;8"], "phitsanulok":[39-1, "16.83;100.20;8"], "kamphaeng-phet":[30-1, "16.35;99.30;8"], "phichit":[38-1, "16.37;100.45;8"], \
"phetchabun":[40-1, "16.50;101.39;8"], "nakhon-sawan":[34-1, "15.73;100.26;8"], "uthai-thani":[50-1, "15.35;100.12;8"], "nong-khai":[25-1, "17.91;102.82;8"], \
"loei":[21-1, "17.47;101.90;8"], "udon-thani":[27-1, "17.50;102.79;8"], "nakhon-phanom":[13-1, "17.41;104.73;8"], \
"sakon-nakhon":[22-1, "17.17;104.19;8"], "khon-kaen":[11-1, "16.34;102.69;8"], "kalasin":[10-1, "16.50;103.73;8"], \
"roi-et":[20-1, "16.10;103.69;8"],  "chaiyaphum":[12-1, "15.87;102.05;8"], \
"ubon-ratchathani":[28-1, "14.98;105.17;8"], "buriram":[16-1, "14.84;102.88;8"], \
"nakhon-ratchasima":[14-1,"14.85;102.04;8"], "chon-buri":[77-1, "13.25;101.13;8"], "rayong":[55-1, "12.67;101.21;8"], "trat":[52, "12.25;102.55;8"]}

In [94]:
provinceNoInO3 = []
for (k,v) in provinceDictO3.items():
    provinceNoInO3.append(v[0])

In [95]:
print(provinceNoInO3)

[74, 71, 72, 63, 64, 69, 73, 70, 56, 43, 75, 41, 34, 35, 36, 47, 40, 44, 53, 31, 0, 5, 3, 2, 1, 7, 6, 4, 8, 45, 57, 38, 29, 37, 39, 33, 49, 24, 20, 26, 12, 21, 10, 9, 19, 11, 27, 15, 13, 76, 54, 52]

In [96]:
def intersection(lst1, lst2):
    lst3 = [value for value in lst1 if value in lst2]
    return lst3

In [97]:
provinceNoIntersect = intersection(provinceNoInPM25,provinceNoInO3)
print(provinceNoIntersect)

[57, 13, 64, 33, 34, 2, 35, 53, 36, 3, 69, 74, 70, 54, 6, 7, 72, 71, 41, 43, 47, 73, 24, 49, 27, 0, 1, 20, 4, 5, 75, 56, 10, 76, 63, 52, 21, 19, 9, 15, 37, 38, 8, 45, 40, 11, 39, 29, 12, 26, 44, 31]

In [98]:
len(provinceNoIntersect)

52

In [99]:
len(provinceNoInO3)

52

In [100]:
yearList = ["2020","2021","2022"]
monthList = ["01","02","03","04","05","06","07","08","09","10","11","12"]
dayList = ["01","08","15","22"]
def nextDay(date):
    year=date[0:4]
    month=date[4:6]
    day=date[6:8]
    if day =="22":
        day=dayList[0]
        if month != "12":
            month=monthList[monthList.index(month)+1]
        else:
            month="01"
            year=yearList[yearList.index(year)+1]
    else:
        day=dayList[dayList.index(day)+1]
    return year+month+day

In [101]:
validDate=[]
initialDate="20200722"
date=initialDate
validDate.append(initialDate)
while date < "20220122":
    temp = nextDay(date)
    validDate.append(temp)
    date = temp
print(validDate)

['20200722', '20200801', '20200808', '20200815', '20200822', '20200901', '20200908', '20200915', '20200922', '20201001', '20201008', '20201015', '20201022', '20201101', '20201108', '20201115', '20201122', '20201201', '20201208', '20201215', '20201222', '20210101', '20210108', '20210115', '20210122', '20210201', '20210208', '20210215', '20210222', '20210301', '20210308', '20210315', '20210322', '20210401', '20210408', '20210415', '20210422', '20210501', '20210508', '20210515', '20210522', '20210601', '20210608', '20210615', '20210622', '20210701', '20210708', '20210715', '20210722', '20210801', '20210808', '20210815', '20210822', '20210901', '20210908', '20210915', '20210922', '20211001', '20211008', '20211015', '20211022', '20211101', '20211108', '20211115', '20211122', '20211201', '20211208', '20211215', '20211222', '20220101', '20220108', '20220115', '20220122']

In [102]:
len(validDate)

73

In [103]:
validDate = list(map(lambda x :x[0:4]+"-"+x[4:6]+"-"+x[6:8] ,validDate))
print(validDate)

['2020-07-22', '2020-08-01', '2020-08-08', '2020-08-15', '2020-08-22', '2020-09-01', '2020-09-08', '2020-09-15', '2020-09-22', '2020-10-01', '2020-10-08', '2020-10-15', '2020-10-22', '2020-11-01', '2020-11-08', '2020-11-15', '2020-11-22', '2020-12-01', '2020-12-08', '2020-12-15', '2020-12-22', '2021-01-01', '2021-01-08', '2021-01-15', '2021-01-22', '2021-02-01', '2021-02-08', '2021-02-15', '2021-02-22', '2021-03-01', '2021-03-08', '2021-03-15', '2021-03-22', '2021-04-01', '2021-04-08', '2021-04-15', '2021-04-22', '2021-05-01', '2021-05-08', '2021-05-15', '2021-05-22', '2021-06-01', '2021-06-08', '2021-06-15', '2021-06-22', '2021-07-01', '2021-07-08', '2021-07-15', '2021-07-22', '2021-08-01', '2021-08-08', '2021-08-15', '2021-08-22', '2021-09-01', '2021-09-08', '2021-09-15', '2021-09-22', '2021-10-01', '2021-10-08', '2021-10-15', '2021-10-22', '2021-11-01', '2021-11-08', '2021-11-15', '2021-11-22', '2021-12-01', '2021-12-08', '2021-12-15', '2021-12-22', '2022-01-01', '2022-01-08', '2022-01-15', '2022-01-22']

In [104]:
dfPM25.reset_index(inplace=True)

In [105]:
dfPM25.tail()

          date_aq  provinceNo       PM25
28187  2022-01-30          71  18.888889
28188  2022-01-30          72  24.888889
28189  2022-01-30          74  22.555556
28190  2022-01-30          75  27.171239
28191  2022-01-30          76  22.759259

In [106]:
dfPM25_filtered = dfPM25[dfPM25['date_aq'].isin(validDate)]

dfPM25_filtered =  dfPM25_filtered[dfPM25_filtered['provinceNo'].isin(provinceNoIntersect)]

In [107]:
dfPM25_filtered.tail()

          date_aq  provinceNo       PM25
27720  2022-01-22          72  13.958333
27721  2022-01-22          73  15.833333
27722  2022-01-22          74  14.685185
27723  2022-01-22          75  17.225225
27724  2022-01-22          76  15.666667

In [108]:
dfPM25_filtered.rename({'date_aq':'date'},axis=1, inplace=True)

In [109]:
dfPM25_filtered.head()

          date  provinceNo       PM25
94  2020-07-22           0   9.062500
95  2020-07-22           1   9.276596
96  2020-07-22           2   8.458333
97  2020-07-22           3   9.458333
98  2020-07-22           4  11.333333

# Find missing PM25 for each province

In [110]:
df_struct = {
    "date":[],
    "provinceNo":[],
}
missingPM25ProvinceForEachDay = pd.DataFrame(df_struct)
for d in validDate:
    temp = provinceNoInO3.copy()
    dfOneday = dfPM25_filtered[dfPM25_filtered['date'] == d]
    for e in dfOneday['provinceNo']:
        temp.remove(e)
    for t in temp :
        data = [[d[0:4] + d[5:7] + d[8:10],t]]
        dfMissing = pd.DataFrame(
            data=data,
            columns=['date','provinceNo']
        )
        missingPM25ProvinceForEachDay = pd.concat([missingPM25ProvinceForEachDay,dfMissing],axis=0)

In [111]:
missingPM25ProvinceForEachDay.tail()

       date  provinceNo
0  20220108        11.0
0  20220115        70.0
0  20220115        31.0
0  20220122        70.0
0  20220122         8.0

In [112]:
missingPM25ProvinceForEachDay.to_csv('../MissingPM25Date-Province/MissingPM25ForEachDateForEachProvince.csv')

# Concat Missing PM2.5 to the original PM2.5 dataframe

In [113]:
df_missingPM25 = pd.read_csv("../ScrapedData/PM25OfMissingDateAndProvince.csv")

In [114]:
df_missingPM25 = df_missingPM25.drop(columns=df_missingPM25.columns[0], axis=1)
df_missingPM25

         date  provinceNo  PM25
0    20200722          40    37
1    20200722          44    52
2    20200722          31    33
3    20200722           8    38
4    20200722          45    31
..        ...         ...   ...
689  20220108          11    22
690  20220115          70    15
691  20220115          31    24
692  20220122          70     7
693  20220122           8    35

[694 rows x 3 columns]

In [115]:
df_missingPM25.head()

       date  provinceNo  PM25
0  20200722          40    37
1  20200722          44    52
2  20200722          31    33
3  20200722           8    38
4  20200722          45    31

In [116]:
df_missingPM25['date'] = df_missingPM25['date'].astype(str)

In [117]:
df_missingPM25['date'] = df_missingPM25['date'].apply(lambda x :x[0:4]+"-"+x[4:6]+"-"+x[6:8])
df_missingPM25

           date  provinceNo  PM25
0    2020-07-22          40    37
1    2020-07-22          44    52
2    2020-07-22          31    33
3    2020-07-22           8    38
4    2020-07-22          45    31
..          ...         ...   ...
689  2022-01-08          11    22
690  2022-01-15          70    15
691  2022-01-15          31    24
692  2022-01-22          70     7
693  2022-01-22           8    35

[694 rows x 3 columns]

In [118]:
dfPM25_filtered = pd.concat([dfPM25_filtered,df_missingPM25],axis=0)

In [119]:
dfPM25_filtered

           date  provinceNo       PM25
94   2020-07-22           0   9.062500
95   2020-07-22           1   9.276596
96   2020-07-22           2   8.458333
97   2020-07-22           3   9.458333
98   2020-07-22           4  11.333333
..          ...         ...        ...
689  2022-01-08          11  22.000000
690  2022-01-15          70  15.000000
691  2022-01-15          31  24.000000
692  2022-01-22          70   7.000000
693  2022-01-22           8  35.000000

[3796 rows x 3 columns]

In [120]:
dfPM25_filtered.sort_values(by=['date','provinceNo'],inplace=True)
dfPM25_filtered

             date  provinceNo       PM25
94     2020-07-22           0   9.062500
95     2020-07-22           1   9.276596
96     2020-07-22           2   8.458333
97     2020-07-22           3   9.458333
98     2020-07-22           4  11.333333
...           ...         ...        ...
27720  2022-01-22          72  13.958333
27721  2022-01-22          73  15.833333
27722  2022-01-22          74  14.685185
27723  2022-01-22          75  17.225225
27724  2022-01-22          76  15.666667

[3796 rows x 3 columns]

# Merge PM25 with O3 and CO data

In [121]:
def prep(path):
    df = pd.read_csv(path)
    df = df.drop(columns=df.columns[0], axis=1)
    df['provinceNo'] = df['provinceNo'].astype(int)
    df['date'] = df['date'].astype(str)
    df['date'] = df['date'].apply(lambda x : x[0:4]+"-"+x[4:6]+"-"+x[6:8])
    return df

In [122]:
dfO3 = prep("../ScrapedData/O3Data.csv")
dfCO = prep("../ScrapedData/COData.csv")

In [123]:
df_merge_temp = dfPM25_filtered.merge(dfO3,on=['date','provinceNo'])
df_merge = df_merge_temp.merge(dfCO,on=['date','provinceNo'])
df_merge.rename({"o3":"O3","co":"CO"},axis=1,inplace=True)
df_merge.head()

         date  provinceNo       PM25  O3   CO
0  2020-07-22           0   9.062500  62  120
1  2020-07-22           1   9.276596  42  110
2  2020-07-22           2   8.458333  32  120
3  2020-07-22           3   9.458333  56  120
4  2020-07-22           4  11.333333  61  190

# KMeans

In [124]:
from sklearn.cluster import KMeans

In [125]:
df20200722 = df_merge[df_merge['date'] == '2020-12-15'].iloc[:,2:]
df20200722.head()

          PM25   O3   CO
988  30.586207  109  400
989  23.293103  128  490
990  23.785714   59  350
991  43.250000   64  270
992  29.916667   60  270

In [126]:
from sklearn.preprocessing import StandardScaler

In [127]:
def zscoreForOrigin(mean,sd):
    return (0-mean)/sd

In [128]:
def calculateOrigin(df):
    sd_x = df.iloc[:,0].std()
    mean_x = df.iloc[:,0].mean()
    sd_y = df.iloc[:,1].std()
    mean_y = df.iloc[:,1].mean()
    sd_z = df.iloc[:,2].std()
    mean_z = df.iloc[:,2].mean()
    return [zscoreForOrigin(mean_x,sd_x), zscoreForOrigin(mean_y,sd_y), zscoreForOrigin(mean_z,sd_z)]

In [129]:
import math

In [130]:
def findDistanceFromOrigin(centroid,originCoordination):
    return math.sqrt( ((centroid[0]-originCoordination[0])**2) + ((centroid[1]-originCoordination[1])**2) + ((centroid[2]-originCoordination[2])**2) )

In [131]:
def clusterOneday(date):
    df_DateProvinceNo = df_merge[df_merge['date'] == date].iloc[:,:2]
    df = df_merge[df_merge['date'] == date].iloc[:,2:]
    origin3Center = calculateOrigin(df)
    print(origin3Center)
    scaler = StandardScaler()
    scaler.fit(df)
    trans_df = scaler.transform(df)

    kmeans = KMeans(n_clusters=3,random_state=2022) #might change as there will be 3 features
    kmeans.fit(trans_df)
    distanceEachCenterAndOrigin = []
    distanceEachCenterAndOrigin.append((findDistanceFromOrigin(kmeans.cluster_centers_[0],origin3Center),0))
    distanceEachCenterAndOrigin.append((findDistanceFromOrigin(kmeans.cluster_centers_[1],origin3Center),1))
    distanceEachCenterAndOrigin.append((findDistanceFromOrigin(kmeans.cluster_centers_[2],origin3Center),2))
    distanceEachCenterAndOrigin.sort(key = lambda x : x[0])
    print(kmeans.cluster_centers_)
    # print(kmeans.labels_)
    # print(trans_df)
    mapper ={distanceEachCenterAndOrigin[0][1]:"Best Air",distanceEachCenterAndOrigin[1][1]:"Moderate Air",distanceEachCenterAndOrigin[2][1]:"Worst Air"}
    predict_df = pd.DataFrame(kmeans.predict(trans_df),columns=['cluster'])
    predict_df['cluster'] = predict_df['cluster'].replace(mapper)
    predict_df.insert(0,"provinceNo",df_DateProvinceNo['provinceNo'].to_list())
    predict_df.insert(0,"date",df_DateProvinceNo['date'].to_list())
    return predict_df

In [132]:
df_DateProvinceNo = df_merge[df_merge['date'] == date].iloc[:,:2]
df_DateProvinceNo['provinceNo']

Series([], Name: provinceNo, dtype: int64)

In [133]:
dfCluster = clusterOneday('2020-08-15')
dfCluster

[-1.8430982700441092, -4.060677777836776, -2.7838596881743265]
[[-0.36964653 -0.39271843 -0.44828569]
 [ 1.70170081  0.2662597   0.44175636]
 [-0.27306429  2.02237413  2.10179391]]

          date  provinceNo       cluster
0   2020-08-15           0      Best Air
1   2020-08-15           1      Best Air
2   2020-08-15           2      Best Air
3   2020-08-15           3      Best Air
4   2020-08-15           4      Best Air
5   2020-08-15           5      Best Air
6   2020-08-15           6      Best Air
7   2020-08-15           7      Best Air
8   2020-08-15           8      Best Air
9   2020-08-15           9  Moderate Air
10  2020-08-15          10      Best Air
11  2020-08-15          11  Moderate Air
12  2020-08-15          12  Moderate Air
13  2020-08-15          13      Best Air
14  2020-08-15          15      Best Air
15  2020-08-15          19      Best Air
16  2020-08-15          20      Best Air
17  2020-08-15          21  Moderate Air
18  2020-08-15          24     Worst Air
19  2020-08-15          26  Moderate Air
20  2020-08-15          27      Best Air
21  2020-08-15          29      Best Air
22  2020-08-15          31      Best Air
23  2020-08-15          33      Best Air
24  2020-08-15          34      Best Air
25  2020-08-15          35     Worst Air
26  2020-08-15          36     Worst Air
27  2020-08-15          37  Moderate Air
28  2020-08-15          38      Best Air
29  2020-08-15          39      Best Air
30  2020-08-15          40  Moderate Air
31  2020-08-15          41      Best Air
32  2020-08-15          43      Best Air
33  2020-08-15          44  Moderate Air
34  2020-08-15          45      Best Air
35  2020-08-15          47      Best Air
36  2020-08-15          49      Best Air
37  2020-08-15          52      Best Air
38  2020-08-15          53      Best Air
39  2020-08-15          54      Best Air
40  2020-08-15          56      Best Air
41  2020-08-15          57      Best Air
42  2020-08-15          63  Moderate Air
43  2020-08-15          64      Best Air
44  2020-08-15          69     Worst Air
45  2020-08-15          70      Best Air
46  2020-08-15          71     Worst Air
47  2020-08-15          72     Worst Air
48  2020-08-15          73      Best Air
49  2020-08-15          74      Best Air
50  2020-08-15          75      Best Air
51  2020-08-15          76      Best Air

In [134]:
dfCluster = clusterOneday('2020-07-22')
for e in validDate[1:]:
    dfClusterTemp = clusterOneday(e)
    dfCluster = pd.concat([dfCluster,dfClusterTemp])
display(dfCluster)

[-1.6798717198173425, -3.216903238274247, -2.857389958212353]
[[-0.35745884 -0.45668949 -0.44638443]
 [ 1.84543097  0.67009177  0.3038591 ]
 [-0.51222741  1.24416327  1.61109041]]
[-1.7155133157244584, -3.648808933756959, -3.958260167078086]
[[-0.27797067 -0.37878769 -0.48011585]
 [ 2.61999243  0.1657557   0.92459661]
 [ 0.00829157  1.37309095  1.45460159]]
[-1.8208483913574116, -4.271208780884805, -3.527607351971364]
[[-0.50421708 -0.62841648 -0.67079402]
 [-0.43397342  1.39892794  1.43933743]
 [ 1.32844999  0.54721934  0.61493722]]
[-1.8430982700441092, -4.060677777836776, -2.7838596881743265]
[[-0.36964653 -0.39271843 -0.44828569]
 [ 1.70170081  0.2662597   0.44175636]
 [-0.27306429  2.02237413  2.10179391]]
[-1.7238080888538532, -3.828942202933573, -3.9821392189046527]
[[ 1.78644108  0.32604481  0.86678249]
 [-0.33287033 -0.65818708 -0.71975497]
 [-0.45050669  1.03298899  0.82347311]]
[-1.9370321258090646, -4.164225765484036, -2.5343999520624987]
[[ 1.19734583  0.30508085 -0.00173393]
 [-0.47908517  0.87057882  1.24963973]
 [-0.63503726 -0.67970958 -0.65070434]]
[-1.5249197816845417, -4.71753580313279, -2.890955464708126]
[[-0.60593425  1.23018031  1.5677711 ]
 [ 1.74709665  0.79663659  0.93269769]
 [-0.38431558 -0.42631799 -0.52037787]]
[-1.2259965530379398, -3.6322671571370595, -2.382000430377258]
[[ 1.92436052  0.84023782  0.78546164]
 [-0.47133496 -0.81308727 -0.77208466]
 [-0.31616873  0.62905022  0.60320405]]
[-1.3717753301000888, -2.5259816253225873, -0.9535324553356876]
[[ 0.77911371  1.13483756  0.08969725]
 [-0.39437912 -0.48821087 -0.36937471]
 [ 0.18289723 -0.68214743  3.5847365 ]]
[-1.9374695311748942, -2.6023956006859184, -1.4589121190354104]
[[-0.65329054 -0.38880171 -0.43545475]
 [ 0.93896781  0.8321157   0.10528664]
 [ 0.27625933 -1.13373721  2.65693535]]
[-1.6631616712989086, -3.44752845629623, -1.7071649231177206]
[[-0.35250818 -0.01829183 -0.2256165 ]
 [ 2.05053706  0.76940005 -0.12629973]
 [ 0.150528   -1.53918118  3.45333035]]
[-1.241592366371579, -1.5388135526912445, -1.1754070602529114]
[[-0.21431302 -0.37981979 -0.34766123]
 [ 0.07823347  1.61310349  1.96700627]
 [ 4.33391281  2.52026318  0.59019453]]
[-1.3671297194775995, -1.730742117874444, -1.718421088376373]
[[-0.47346189 -0.34806549 -0.27175209]
 [ 0.17055508  2.66259431  3.59506986]
 [ 1.58908061  0.47624595 -0.04169366]]
[-2.0652602676361385, -3.196026041432961, -1.6687965662254127]
[[-0.49189832 -0.20895137 -0.24162712]
 [ 1.24805099  0.35523628  0.23975131]
 [ 0.72752388  2.75789285  5.58368502]]
[-1.5994973680891877, -3.282307347784874, -3.181036679005512]
[[ 0.60931415  0.63755748  0.13347078]
 [-0.73876345 -0.97140778 -0.61042861]
 [-0.06622868  1.38563969  3.27523951]]
[-2.731432769330005, -1.855236011347219, -1.241909933225204]
[[ 0.67391003  0.04137872 -0.11810996]
 [-0.97545286 -0.51399011 -0.34162783]
 [ 1.08813072  3.39685239  3.56826041]]
[-1.6511402858594335, -1.8215951369868213, -1.0689476484577534]
[[ 1.00693696e+00  1.30491693e+00  8.87462818e-02]
 [-4.02927038e-01 -3.99082219e-01 -3.39565461e-01]
 [ 1.77629549e-03 -1.43365313e+00  3.54744773e+00]]
[-1.7168309325158873, -3.1047141858158684, -3.155503597652905]
[[ 2.52493317  1.15416256  1.22408541]
 [-0.20237792 -1.08567068 -0.56390451]
 [-0.21567422  0.55210664  0.20061531]]
[-2.392624217039727, -2.4593274937305902, -1.5843612704972163]
[[ 1.61557322 -0.10389064 -0.1273476 ]
 [ 0.29353867  3.11336798  3.70350472]
 [-0.38551938 -0.2101272  -0.24910964]]
[-1.7268268316300923, -2.5850727624554897, -1.0038974393524296]
[[ 0.55709714  0.41193345  0.02976141]
 [ 2.14077127  4.05387419  6.84151774]
 [-0.77128222 -0.6777396  -0.33368858]]
[-2.029163594651398, -1.8784408884243882, -1.1480488554228623]
[[ 1.22841825 -0.23902142 -0.20767493]
 [-0.51605975 -0.19965422 -0.23465444]
 [ 0.28807858  3.4447325   3.70678484]]
[-4.081723977066343, -2.0341933111742816, -1.319492948152908]
[[ 1.29836969 -0.29085322 -0.1688765 ]
 [-0.61664609 -0.17373517 -0.250304  ]
 [-0.14153131  3.46230412  3.65401872]]
[-1.879753804187061, -3.314404079969711, -3.119761113451968]
[[-0.31623554  0.85621835  0.63971264]
 [-0.73323599 -1.17674276 -1.30223218]
 [ 1.07640535 -0.14765032  0.25984828]]
[-2.5619387414606973, -2.6830577758978813, -2.8443011655316646]
[[-0.9002841  -0.73322925 -0.61404775]
 [ 1.15865084  1.97094687  2.1553837 ]
 [ 0.44980876  0.06671609 -0.09136179]]
[-2.897557026064605, -1.4570801568583684, -0.9028958714286796]
[[ 0.61555131  0.02945969 -0.15612704]
 [-0.95152803 -0.569628   -0.41771556]
 [ 1.23232067  2.94146597  3.31226134]]
[-2.208305180274311, -1.8252746181961392, -1.1560125763110956]
[[ 0.71658031  0.05809582  0.00978013]
 [-1.00900802 -0.51424847 -0.46153844]
 [ 0.9501694   3.2482931   3.29659405]]
[-2.371841473410344, -1.9882053518506146, -1.9347783878948561]
[[ 0.43577483 -0.22622505 -0.11236739]
 [ 0.54616557  1.99854469  1.81276139]
 [-1.52617659 -0.72909632 -0.90886121]]
[-2.8952070493237567, -3.754007629695597, -3.8049187964247917]
[[-0.75319963 -0.61087998 -0.68073364]
 [ 0.93102782  0.2228695   0.2773372 ]
 [-0.33052424  2.07377408  2.18338455]]
[-1.647194346690129, -1.9564821232922864, -1.5810162346394707]
[[ 0.30302775  2.10291264  1.91726473]
 [-0.18009783 -0.37592522 -0.35672104]
 [ 5.80311027  1.82032113  2.27487266]]
[-2.215154053068092, -2.3084623246013725, -2.877564473424469]
[[ 0.8179173   0.05886678  0.13173136]
 [-0.13491841  1.98303452  1.82180747]
 [-0.88978983 -0.72828783 -0.75781928]]
[-0.893452032002274, -2.4044872946035727, -2.6047449289161357]
[[ 0.18519409  1.13338877  0.91947973]
 [-0.28056632 -0.64926617 -0.5022018 ]
 [ 5.92519486  1.02478568  0.02202424]]
[-1.8739947485750428, -2.316301959978413, -2.6563127361111367]
[[-0.12080197  1.17832825  1.09150433]
 [-1.05123074 -1.08320083 -1.10970634]
 [ 0.8429187  -0.12405903 -0.03897496]]
[-1.5246289528845645, -1.9799640202126618, -3.4368261098132002]
[[-0.62461698 -0.79428571 -0.86334705]
 [-0.00535004  0.99789573  0.07311034]
 [ 0.82586073 -0.65006531  1.00526712]]
[-1.3370633319287148, -1.6292916789504859, -1.88692610071037]
[[ 0.58548139  0.25867132  0.03957581]
 [-0.87859055 -0.80638692 -0.5232539 ]
 [-0.72835126  3.65127029  4.35748696]]
[-1.7248791451762078, -0.9231463469898895, -0.7939737949003586]
[[-0.72068813 -0.45297619 -0.32914343]
 [ 0.59107511  2.85414655  2.84730973]
 [ 1.09795696 -0.04008511 -0.2566027 ]]
[-2.068644258121985, -1.121014912699227, -1.4516506604453052]
[[-0.35256152 -0.31180872 -0.35042317]
 [ 0.21303079  2.95106306  3.03498845]
 [ 1.6562922   0.08351209  0.23462162]]
[-2.0621843402347597, -1.923532082759317, -1.7684691604982927]
[[ 0.57439624  0.62014645  0.09220869]
 [-0.81937472 -0.86084596 -0.6417725 ]
 [-0.08999883 -0.25577596  3.38713266]]
[-1.7171123930952206, -1.798314391151162, -2.68887335604732]
[[-0.39139945  0.70002693  1.67689405]
 [-0.04034321 -0.28734524 -0.42702967]
 [ 5.56806588  4.78088569  0.73927587]]
[-1.6246378702900313, -0.9844827114981776, -0.9393801315902891]
[[ 1.90853996 -0.17420239 -0.30668875]
 [-0.31893784 -0.32045315 -0.30382152]
 [-0.12045319  2.80750857  2.85993641]]
[-2.3084248005980057, -1.7349351225647809, -2.464999011492481]
[[-0.51156485  1.67798803  1.78614009]
 [ 1.11907644 -0.07707879 -0.15745703]
 [-0.61734066 -0.46294177 -0.44057286]]
[-1.7259446097412205, -1.2294075310289156, -2.050836831055597]
[[-0.51690504 -0.33146476 -0.28276368]
 [-0.79270393  2.96987793  2.76388212]
 [ 1.23198606 -0.07953997 -0.12544318]]
[-2.400967712559912, -1.3589445930557986, -1.7336228279919363]
[[-6.52165866e-01 -2.85882383e-01 -3.60420563e-01]
 [ 9.43800706e-01  1.38277708e-03  1.73221705e-01]
 [ 3.44480930e-01  4.27440798e+00  3.67409140e+00]]
[-2.1806932958369916, -2.7327052400523386, -1.8254114075011023]
[[-0.3685685  -0.31116776 -0.2957458 ]
 [ 1.05198182  0.85236335 -0.17293033]
 [-0.54910416 -0.3383458   3.11909549]]
[-2.0928534122339713, -2.013620112087667, -1.6483664166619116]
[[-0.37335703 -0.43903411 -0.40251733]
 [ 1.0984048   1.47211348  0.37964734]
 [ 0.21111752 -0.47369988  3.44579098]]
[-1.7196030948770893, -3.1427784981913955, -1.4793769574196916]
[[ 0.56862518 -0.18304814 -0.3447881 ]
 [ 0.8871713   0.27844751  3.12610597]
 [-1.14485782  0.24320301 -0.12004337]]
[-2.1019591460048583, -2.265712988671854, -1.4774477186125559]
[[ 0.2911727   2.58717079  2.79778212]
 [-0.57727726 -0.44877052 -0.42809958]
 [ 0.86551578  0.30008438  0.23419164]]
[-1.604260091173662, -1.9366572092990297, -1.3414203064212646]
[[-0.45773113 -0.15709714 -0.27151296]
 [ 1.3477745  -1.54163748  2.11372488]
 [ 0.62301761  1.2159273  -0.28757572]]
[-2.383613923097516, -1.799510283331609, -0.7893195578954462]
[[-7.89989932e-01 -4.45687245e-04 -2.42978875e-01]
 [ 9.21511266e-01  1.45972262e-01 -1.15534121e-01]
 [ 6.74845238e-02 -1.67266423e+00  4.60885720e+00]]
[-1.6144661514368466, -2.3288664565697017, -2.0662277683922867]
[[-2.95316065e-01 -7.05483348e-05 -3.32623874e-01]
 [-5.60907887e-02 -1.84019687e+00  2.77315548e+00]
 [ 2.06473543e+00  1.53397948e+00 -3.80330884e-02]]
[-1.8492223338683647, -2.9274014181739942, -2.0210692773236767]
[[-1.18146848 -0.17935666 -0.42726359]
 [ 0.49842607 -0.19596883 -0.22278981]
 [ 1.02643642  1.78562565  2.78943508]]
[-2.0859560626512708, -2.837570753231508, -1.6746459330063261]
[[-1.0197524  -0.44617884 -0.44273956]
 [ 0.60609152  0.46556488 -0.19818881]
 [ 0.48094657 -0.91168375  2.79226764]]
[-1.7088719638646201, -2.4630628689697573, -1.4615030418949086]
[[ 0.86180433 -1.73615995  2.03634886]
 [-0.60150985 -0.06921733 -0.37038778]
 [ 0.63586149  0.82889441 -0.22844612]]
[-1.6466661014762272, -0.9880240306368806, -1.1774812970710145]
[[-0.16216116 -0.24061396 -0.24661282]
 [-0.03881955  3.50572215  3.51419761]
 [ 3.86901652  0.39584481  0.52410481]]
[-0.48682879391440237, -2.0925460798021014, -0.8011133426381764]
[[-0.23178595 -0.09557952 -0.34701727]
 [ 0.14678172 -0.38316681  1.93867644]
 [ 4.84822961  3.10845611  2.96119746]]
[-2.2551641815331873, -2.0091466583359887, -1.0363969345838957]
[[-0.54315493  0.14108058 -0.27179875]
 [ 1.32921544  0.51228217 -0.35410111]
 [ 0.41944707 -1.82402096  2.24839512]]
[-1.7880025019692514, -2.086746756308491, -1.1207358487257748]
[[ 1.43109739 -1.98085282  2.56982627]
 [-0.37924581 -0.31959629 -0.20133423]
 [ 0.18228398  0.99226106 -0.379567  ]]
[-2.162367684453292, -2.5884804342819723, -1.4475005498737825]
[[-0.68804077 -0.09060565 -0.29586327]
 [ 0.9004479   0.34954705 -0.06759046]
 [ 0.1185786  -1.60117665  3.23452373]]
[-0.6548983117276297, -1.910113935396009, -1.2708154200884607]
[[ 0.022018    0.86412372  2.00860393]
 [ 3.78529872  2.67235969  1.75075045]
 [-0.26716289 -0.3070191  -0.4024157 ]]
[-1.7302099960685546, -0.8828789055023337, -0.8258465914730023]
[[ 0.75591734  0.04427    -0.09674065]
 [ 1.17746808  3.03775206  3.24938666]
 [-0.61054615 -0.43159561 -0.37520716]]
[-1.4060370324200129, -1.7395649307144927, -0.8094418219327043]
[[-0.38431839  3.46937845  2.38527543]
 [-0.16793933 -0.02522439 -0.34070378]
 [ 1.66518133 -1.16073188  2.11222384]]
[-1.979909891540524, -2.397524726856366, -2.284704323092005]
[[ 0.04265875  1.06200349 -0.16625562]
 [-0.07786682 -0.60338512 -0.41042479]
 [ 0.25548983 -0.0926485   2.45477742]]
[-2.182730282658805, -2.510020204859864, -3.457287485967302]
[[ 0.50850262  1.60727851  1.61028725]
 [-0.5753245  -0.30629943 -0.15908436]
 [ 1.19519691 -0.25472051 -0.64929987]]
[-1.8224242508809356, -2.6483952070878787, -3.2840617584652456]
[[-0.0933635   0.64586863  0.75141515]
 [ 2.65862644  1.89708079  1.48865267]
 [-0.32125453 -0.78339127 -0.80497514]]
[-2.4615653578763643, -2.96824773448481, -2.3322990653919886]
[[-0.96921153 -1.11264017 -0.53084249]
 [ 0.80962207  0.65137242  3.62732415]
 [ 0.39631873  0.48024623 -0.07237856]]
[-2.2316104560632755, -1.580408549349703, -1.0125621738227277]
[[-4.73988967e-01 -2.09212970e-01 -1.74774357e-01]
 [ 1.26092540e+00  1.28860721e-01 -3.27255942e-03]
 [ 1.61955057e+00  6.27490350e+00  6.68396885e+00]]
[-1.5756167913627206, -3.7186060659252833, -2.7907525396421082]
[[ 0.38084174  0.63405914  0.07317223]
 [-0.77821063 -1.28454705 -0.47587793]
 [ 0.28096147  0.27928904  5.602069  ]]
[-2.65992067344502, -2.057555904259338, -1.089016165721104]
[[ 0.6692455  -0.07974242 -0.16312301]
 [-0.86980715 -0.36420275 -0.29912838]
 [ 0.86839377  3.4833221   3.70705026]]
[-2.545723809928693, -1.7276290468040951, -1.2957663739766938]
[[ 0.71277061 -0.17098985 -0.2088905 ]
 [ 1.0568951   3.18012033  3.27236224]
 [-0.71095419 -0.33813683 -0.32232402]]
[-2.414093095351097, -1.4585846195157899, -0.9889440607636557]
[[ 0.7677716  -0.18639483 -0.31220054]
 [ 1.427653    2.82420718  2.89335783]
 [-0.77592591 -0.3778405  -0.30482067]]
[-2.302505303236031, -3.193944413559385, -3.6280193737896074]
[[-0.48722603 -0.05574873 -0.16470076]
 [ 0.4650756   2.73501601  3.2822509 ]
 [ 1.24191617 -0.47677644 -0.3013481 ]]
[-2.543652351703774, -1.8100703369886182, -1.4602575967473153]
[[ 0.76259783  0.16020076  0.05450366]
 [ 2.17795465  5.70674015  5.89075383]
 [-0.94867067 -0.4180067  -0.3067647 ]]
[-3.3698682502365362, -2.570852620023422, -2.9920224347269366]
[[-0.94284657 -0.63426594 -0.7602725 ]
 [ 0.44440807  2.76726091  2.46964334]
 [ 0.66748688  0.08335337  0.22544997]]
[-2.2540202733690893, -3.3998485202386863, -1.2941305215253793]
[[ 0.73994169  0.58168524  0.06363066]
 [-0.76227209 -0.55772566 -0.52604944]
 [-0.56874195 -0.76537531  3.48158002]]

          date  provinceNo   cluster
0   2020-07-22           0  Best Air
1   2020-07-22           1  Best Air
2   2020-07-22           2  Best Air
3   2020-07-22           3  Best Air
4   2020-07-22           4  Best Air
..         ...         ...       ...
47  2022-01-22          72  Best Air
48  2022-01-22          73  Best Air
49  2022-01-22          74  Best Air
50  2022-01-22          75  Best Air
51  2022-01-22          76  Best Air

[3796 rows x 3 columns]

In [135]:
dfTesting = clusterOneday('2022-01-22')
dfTesting

[-2.2540202733690893, -3.3998485202386863, -1.2941305215253793]
[[ 0.73994169  0.58168524  0.06363066]
 [-0.76227209 -0.55772566 -0.52604944]
 [-0.56874195 -0.76537531  3.48158002]]

          date  provinceNo       cluster
0   2022-01-22           0      Best Air
1   2022-01-22           1      Best Air
2   2022-01-22           2      Best Air
3   2022-01-22           3      Best Air
4   2022-01-22           4  Moderate Air
5   2022-01-22           5      Best Air
6   2022-01-22           6  Moderate Air
7   2022-01-22           7      Best Air
8   2022-01-22           8  Moderate Air
9   2022-01-22           9  Moderate Air
10  2022-01-22          10  Moderate Air
11  2022-01-22          11  Moderate Air
12  2022-01-22          12  Moderate Air
13  2022-01-22          13  Moderate Air
14  2022-01-22          15  Moderate Air
15  2022-01-22          19  Moderate Air
16  2022-01-22          20  Moderate Air
17  2022-01-22          21  Moderate Air
18  2022-01-22          24  Moderate Air
19  2022-01-22          26  Moderate Air
20  2022-01-22          27  Moderate Air
21  2022-01-22          29  Moderate Air
22  2022-01-22          31      Best Air
23  2022-01-22          33  Moderate Air
24  2022-01-22          34     Worst Air
25  2022-01-22          35     Worst Air
26  2022-01-22          36     Worst Air
27  2022-01-22          37  Moderate Air
28  2022-01-22          38  Moderate Air
29  2022-01-22          39  Moderate Air
30  2022-01-22          40  Moderate Air
31  2022-01-22          41      Best Air
32  2022-01-22          43      Best Air
33  2022-01-22          44  Moderate Air
34  2022-01-22          45  Moderate Air
35  2022-01-22          47  Moderate Air
36  2022-01-22          49  Moderate Air
37  2022-01-22          52      Best Air
38  2022-01-22          53  Moderate Air
39  2022-01-22          54      Best Air
40  2022-01-22          56      Best Air
41  2022-01-22          57      Best Air
42  2022-01-22          63      Best Air
43  2022-01-22          64      Best Air
44  2022-01-22          69      Best Air
45  2022-01-22          70      Best Air
46  2022-01-22          71      Best Air
47  2022-01-22          72      Best Air
48  2022-01-22          73      Best Air
49  2022-01-22          74      Best Air
50  2022-01-22          75      Best Air
51  2022-01-22          76      Best Air

In [136]:
dfFinalResult = df_merge.merge(dfCluster,on=['date','provinceNo'])
dfFinalResult

            date  provinceNo       PM25  O3    CO   cluster
0     2020-07-22           0   9.062500  62   120  Best Air
1     2020-07-22           1   9.276596  42   110  Best Air
2     2020-07-22           2   8.458333  32   120  Best Air
3     2020-07-22           3   9.458333  56   120  Best Air
4     2020-07-22           4  11.333333  61   190  Best Air
...          ...         ...        ...  ..   ...       ...
3791  2022-01-22          72  13.958333  65   230  Best Air
3792  2022-01-22          73  15.833333  58   250  Best Air
3793  2022-01-22          74  14.685185  60   230  Best Air
3794  2022-01-22          75  17.225225  85  1010  Best Air
3795  2022-01-22          76  15.666667  83   320  Best Air

[3796 rows x 6 columns]

In [137]:
dfFinalResult['provinceNo'] = dfFinalResult['provinceNo'].apply(lambda x : provinceName[x])
dfFinalResult

            date    provinceNo       PM25  O3    CO   cluster
0     2020-07-22      เชียงราย   9.062500  62   120  Best Air
1     2020-07-22     เชียงใหม่   9.276596  42   110  Best Air
2     2020-07-22          น่าน   8.458333  32   120  Best Air
3     2020-07-22         พะเยา   9.458333  56   120  Best Air
4     2020-07-22          แพร่  11.333333  61   190  Best Air
...          ...           ...        ...  ..   ...       ...
3791  2022-01-22         สงขลา  13.958333  65   230  Best Air
3792  2022-01-22  สุราษฎร์ธานี  15.833333  58   250  Best Air
3793  2022-01-22          ยะลา  14.685185  60   230  Best Air
3794  2022-01-22      กรุงเทพฯ  17.225225  85  1010  Best Air
3795  2022-01-22        ชลบุรี  15.666667  83   320  Best Air

[3796 rows x 6 columns]

In [138]:
dfFinalResult.rename({"provinceNo":"province"},axis=1,inplace=True)

In [139]:
dfFinalResult.to_csv('../Result/FinalResultWithProvinceName_AndClusterName_AndNoMissingPM25.csv')